*.sh linguist-detectable=false
build.sh linguist-vendored=true
.github/* linguist-vendored=true
appimages_src/* linguist-vendored=true
dist/* linguist-vendored=true
docs/* linguist-vendored=true
media/* linguist-vendored=true