*.sh linguist-detectable=false
*.f95 linguist-language=Fortran
*.f95 linguist-detectable=true
.github/* linguist-vendored=false
appimages_src/* linguist-vendored=false
dist/* linguist-vendored=false
docs/* linguist-vendored=false
media/* linguist-vendored=false