*.sh linguist-detectable=false
*.f95 linguist-language=Fortran
*.f95 linguist-detectable=true
.github/* linguist-vendored=true
appimages_src/* linguist-vendored=true
dist/* linguist-vendored=true
docs/* linguist-vendored=true
media/* linguist-vendored=true